html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #262A38;
    margin: 0;
}

.fixedheaderLogin {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 1.7%;
    width: 100%;
    outline: 1px solid #CCCCCC;
}

.logo {
    margin: 0 auto;
    width: 70%;
    height: 35%;
    padding: 5% 0 0;
}

.logo_image {
    margin: 0 auto;
    max-width: 100%;
}

.container {
    clear: none;
    float: none;
    margin: auto;
    max-width: 1232px;
    width: 100%;
}

.formField {
    background-color: #EBEBEB;
    border: 1px solid #C8C8C8;
    border-radius: 0;
    margin: 5% auto;
    font-size: 12px;
    padding: 12.5px 10px;
    width: 68.7%;
    display: block;
}

.formField:hover {
    background-color: #F0F0F0;
    border-color: #999999
}

.roundedBUTTON {
    background-color: #2064C2;
    border-radius: 6px 6px 6px 6px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    margin: auto;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 15px;
    width: 150px;
    display: block;
}

.roundedBUTTON:hover {
    background-color: #333745;
}

.login_link {
    color: #CCCCCC;
    text-decoration: underline;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 14% 0 auto;

}

